{% extends 'base.html.twig' %}

{% block title %}BF AL DJAZAIR - Appels d'offres{% endblock %}

{% block body %}
<style>
@media only screen and (min-width: 1025px) {
    .search-result-list.list-column-2 .card {
        width: calc(100% - 10px);
        margin-right: 20% !important;
        margin-left: 20%;
    }
}
.card.card-large .card-link {
    margin-bottom: 15px;
}
</style>
<main class="content-edito " id="main-content">
    <article data-type="arkema">

        <div class="js-categories" data-result-quantity='18'></div>
        <section class="banner banner-search banner-filigrane content-color-transparent">
            <div class="wrapper">
                <h1 class="banner-title">Appels d'offres</h1>
                <div class="banner-search-content">
                    <div class="autocomplete js-search-block">
                        <form class="form-simple">
                            <div class="autocomplete-container">
                                <div class="autocomplete-field">
                                    <div class="autocomplete-query">
                                        <input class="js-search-global" type="text" placeholder="Entrer un mot clé" aria-label="Entrez au moins un mot. La liste des résultats sera mise à jour à la soumission." />
                                        <input id="qchidden" name="qc" type="hidden" value="newslist" />
                                    </div>
                                    <div class="autocomplete-button">
                                        <button type="submit" title="Rechercher">
                                    <svg class="icon icon-image-search"><use href="#icon-image-search"></use></svg>
                                </button>
                                    </div>
                                </div>
                                <div class="autocomplete-result">
                                    <div class="autocomplete-list js-search-results"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p>&nbsp;<a href="/global/fr/media/news-alert-subscription/" title="S'inscrire aux alertes actualités">S'inscrire aux alertes actualités</a></p>
                </div>
            </div>
        </section>
        <div class=" content-block content-list-search js-filter-section " data-filter-template="/modules/proxima-main/javascript/templates/filter.twig.html">
            <button id="sidebar-filter-button" class="sidebar-filter-button select-fake js-switch js-switch-important" data-target="page-list-filter" aria-controls="page-list-filter">
              Filtrer par</button>
            <div class="js-result-list" data-result-template="/modules/proxima-main/javascript/templates/result-list-news.twig.html" data-result-item-template="news-teaser-arkema.twig.html" data-template="newslist" aria-live="polite">
                <section class="content-block content-search-result content-list-result-header content-search-result-empty">
                    <div class="content-wrapper">
                        <ul class="result-tags">
                        </ul>
                        <div class="content-search-result-title">
                            <h2>Aucun résultat, essayez avec d'autres mot-clés</h2>
                        </div>

                        <div class="content-search-result-list">
                            <h3>Suggestions :</h3>
                            <ul>
                                <li><span>Assurez-vous que le mot-clé est correctement tapé</span></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="content-block content-search-result content-list-result-header content-search-result-errors">
                    <div class="content-wrapper">
                        <div class="content-search-result-title">
                            <h2>La recherche est actuellement indisponible. Merci de réessayer plus tard.</h2>
                        </div>
                    </div>
                </section>
            </div>

            <div class="clear-float"></div>
        </div>




        <header id="search-header-list" class="content-block content-list-result-header js-result-header ">
            <ul class="result-tags">
            </ul>
            <p class="content-list-search-quantity" data-total-hits="18">
                8 Appels d'offres
            </p>
        </header>
    
        <section id="search-result-list" class="content-block search-result-list list-column list-column-2">
    {% for appel in appels %}
    
 
    <article class="card card-bordered card-large card-large-image" data-image-side="right" data-list-offset="1">

		<a href="{{ path('app_appels_show', {'id': appel.id}) }}" title="Mise à disposition du Document d’enregistrement universel 2024 d’Arkema" class="card-link-overlay" tabindex="-1" data-totalhits="933" data-documenttype="news" data-template="news" data-title="Mise à disposition du Document d’enregistrement universel 2024 d’Arkema"></a>
	
	    <div class="card-wrapper">

				<figure>
			<img src="{{asset('aa2.png')}}" alt="Thumbnail -  URD.png">
		</figure>
				<header class="card-header">

						<div class="card-date">
				<div class="date">
					<span class="date-month">{{appel.date|date('M')}}</span>
					<span class="date-day">{{appel.date|date('d')}}</span>
					<span class="date-year">{{appel.date|date('Y')}}</span>
				</div>
			</div>
			
			<ul class="card-tags">
				<li>
					<span class="tag tag-primary">
						Appel d'offre
					</span>
				</li>
								<li>
					<span class="tag tag-secondary">
						Forage
					</span>
				</li>
							</ul>
		</header>

				<h3 class="card-title">
			{{appel.titre}}
		</h3>
		
				<div class="card-text">
			<p>
				{{appel.texte|striptags|slice(0, 50) ~ '...'}}
			</p>
		</div>
		
				<div class="card-link">
			<a href="{{ path('app_appels_show', {'id': appel.id}) }}" title="Mise à disposition du Document d’enregistrement universel 2024 d’Arkema" class="button button-link" data-totalhits="933" data-documenttype="news" data-template="news" data-title="Mise à disposition du Document d’enregistrement universel 2024 d’Arkema">
				Plus d'information
				<svg class="icon icon-boutons-link-normal" xml:lang="fr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<use href="#icon-boutons-link-normal"></use>
				</svg>
			</a>
		</div>
			</div>
    </article>

               {% endfor %}


            <nav class="pagination" aria-controls="search-header-list search-result-list">
                <ul>
                    <li class="pagination-prev pagination-disabled">
                        <span>
					<svg class="icon icon-boutons-link-normal" xml:lang="fr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<use href="#icon-boutons-link-normal"></use>
					</svg>
				</span>
                    </li>


                    <li>
                        <a href="/" class="active" data-page="1" title="1">1</a>
                    </li>



                    <li class="pagination-next pagination-disabled">
                        <span>
					<svg class="icon icon-boutons-link-normal" xml:lang="fr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<use href="#icon-boutons-link-normal"></use>
					</svg>
				</span>
                    </li>

                </ul>
            </nav>
        </section>

    </article>


</main>

{% endblock %}