<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BF AL DJAZAIR S.P.A{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('modules/proxima-templates/favicon/newFavicon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('modules/proxima-templates/favicon/newFavicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('modules/proxima-templates/favicon/newFavicon-16x16.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
          <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "BF AL DJAZAIR S.P.A",
            "url": ""
        }
    </script> 
        {% block stylesheets %}



    <script src="{{asset('modules/proxima-templates/cdn/dayjs.min.js')}}"></script>
    <script src="{{asset('modules/proxima-templates/cdn/fr.js')}}"></script>
    <script src="{{asset('modules/proxima-templates/cdn/utc.js')}}"></script>
    <script src="{{asset('modules/proxima-templates/cdn/timezone.js')}}"></script>

    <script type="application/json" id="jahia-data-ctx">{"contextPath":"","lang":"fr","uilang":"fr","siteUuid":"4b7afda2-e9f6-4e25-8ca7-f323683aa97c","wcag":true,"ckeCfg":""}</script>
    <script type="application/json" id="jahia-data-ck">{"path":"modules/ckeditor/javascript/","lng":"fr_FR"}</script>


    <script type="application/json" id="jahia-data-ctx">
        {
            "contextPath": "",
            "lang": "fr",
            "uilang": "fr",
            "siteUuid": "4b7afda2-e9f6-4e25-8ca7-f323683aa97c",
            "wcag": true,
            "ckeCfg": ""
        }
    </script>
    <script type="application/json" id="jahia-data-ck">
        {
            "path": "/modules/ckeditor/javascript/",
            "lng": "fr_FR"
        }
    </script>
    <script src="javascript/initJahiaContext.js"></script>
    <link id="staticAssetCSS0" rel="stylesheet" href="{{asset('generated-resources/a028cdde7c62aadd5c846adfbdda3bac.min.css')}}" media="screen" type="text/css" />
    <link id="staticAssetCSS1" rel="stylesheet" href="{{asset('generated-resources/6f82d73ef647dae01a38934223babe5.min.css')}}" media="print" type="text/css" />
  

    <script id="staticAssetJavascript0" src="{{asset('js/forms2/js/forms2.min.js')}}"></script>
    <script id="staticAssetJavascript1" src="{{asset('generated-resources/824bbfe43accd57f16a63871fc43c2.min.js')}}"></script>
    <script type="text/javascript" nonce="NmE5ZDg2NGEtNGU4Yy00NmIyLWFmMWYtOTQxNThjZDJiMDEw">
        window.digitalDataOverrides = [];
        window.digitalData = {
            "scope": "BF AL DJAZAIR_global",
            "site": {
                "siteInfo": {
                    "siteID": "4b7afda2-e9f6-4e25-8ca7-f323683aa97c"
                }
            },
            "page": {
                "pageInfo": {
                    "pageID": "cae7f3c7-10aa-42c8-b713-54b6df7fca54",
                    "nodeType": "jnt:page",
                    "pageName": "Accueil",
                    "pagePath": "/sites/BF AL DJAZAIR_global/home",
                    "templateName": "home",
                    "destinationURL": document.location.origin + document.location.pathname,
                    "destinationSearch": document.location.search,
                    "referringURL": null,
                    "language": "fr",
                    "categories": ["/sites/systemsite/categories/structuring/BF AL DJAZAIR/share/BF AL DJAZAIR_global"],
                    "tags": []
                },
                "consentTypes": [

                ]
            },
            "events": [],
            "contextServerPublicUrl": "/modules/jexperience/proxy/BF AL DJAZAIR_global",
            "sourceLocalIdentifierMap": {},
            "wemInitConfig": {
                "contextServerUrl": "/modules/jexperience/proxy/BF AL DJAZAIR_global",
                "isPreview": false,
                "timeoutInMilliseconds": 1500,
                "dxUsername": "guest",
                "contextServerCookieName": "context-profile-id",
                "activateWem": true,
                "enableWemActionUrl": "/fr/sites/BF AL DJAZAIR_global.enableWem.do",
                "requiredProfileProperties": ['j:nodename'],
                "requiredSessionProperties": [],
                "requireSegments": false,
                "requireScores": false
            },
        };

        // Expose Wem init functions  
        wem.init();
    </script>

    <script type="application/json" id="jahia-data-aggregatedjs">
        {
            "scripts": ["modules/jexperience/javascript/jexperience/dist/3_5_1/wem.min.js", "modules/jquery/javascript/jquery-3.4.1.min.js", "modules/assets/javascript/jquery.jahia.min.js"]
        }
    </script>


    <script type="text/javascript" src="{{asset('scripts/bizible.js')}}" async=""></script>
    <script type="text/javascript" src="{{asset('modules/CsrfServlet.js')}}"></script>

    <style>

        .header-primary-logo img {
        
            max-width: 300px;
            max-height: 76px;
        }


                .content-block.content-slider.content-color-gradient .slider-wrapper .slider-contents:after, .content-block.content-slider .slider-wrapper .slider-contents:after {
            background: linear-gradient(90deg, #28285f, #1a2955);
        }

            </style>
        {% endblock %}

 
    </head>
    <body  id="anchor-top" class="scroll-active ">
        {% block body %}{% endblock %}



            <script>
        let globalScrollState = {
            body: true,
            header: false,
            modal: false,
            popin: true,
            headerMainMegamenu: false,
            appSidebar: false,
            sidebar: false,
            bannerSearchContent: false,
            saveScrollState: false
        };
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        var pageData = JSON.parse(document.querySelector('.js-datalayer').getAttribute('data-layer'));
        var cleanValues = {};

        if (pageData !== null) {
            Object.keys(pageData).forEach((prop) => {
                if (pageData[prop] && pageData[prop].length !== 0) {
                    cleanValues[prop.trim()] = pageData[prop];
                }
            });
        }

        window.dataLayer.push(cleanValues);

        var siteLang = "fr"
    </script>
    <script>
        console.log('Started bundle : proxima-templates in version 6.84.0');
        console.log('Started bundle : proxima-bostik-templates in version 6.84.0');
        console.log('Started bundle : proxima-main in version 6.84.2');
    </script>
    <script src="{{asset('javascript/initJahiaContext.js')}}"></script>
    <script id="staticAssetJavascriptBODY0" src="{{asset('generated-resources/2435135b50776572a9fa74e556aaf.min.js')}}"></script>
    <script type="application/json" id="jahia-data-aggregatedjsBODY">
        {
            "scripts": ["modules/proxima-main/javascript/bfaldjazairbundle.js"]
        }
    </script>

    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"916dfa4aef55ba98","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.1.0","token":"6c32d396f7b247d1968f4ecd82bbb271"}'
        crossorigin="anonymous"></script>
    </body>


 
</html>
